{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
    <a href="{{ path('security_login')}}"> Connexion</a>
{% endblock %}


{% block javascripts %}

    <script src="{{ asset('build/js/app.js') }}"></script>

{% endblock %}

